*.tfvars
!terraform.tfvars.example
!infra/terraform.tfvars
!bootstrap/terraform.tfvars
infra/backend.hcl
*.zip
.terraform/
.terraform.lock.hcl
__pycache__/
*.pyc
*.pyo
.pytest_cache/
infra/lambda_packages/
lambda/lambda_layer_packages/
venv/
